.overfooter {
    border-bottom: 1px solid rgba($Gray, 0.3);
    background-color: $Clients;
    margin-top: 0;

&__submenu {
    height: auto;
    margin-top: 0px;

    & ul {
        line-height: 1.7;
        flex-wrap: wrap;
        margin: 40px 0px 28px 0px;

        & li a {
            line-height: 2;
            font-family: $Light;
            font-size: 14px;
            margin-left: 15px;
            color: rgba($White, 0.7);

            @media all and (max-width: 501px) {
                margin-left: 5px;
            }

            &:hover {
                color: rgba($White, 1);
                text-decoration: underline;
            }
        } // .submenu li
    } // .submenu ul
} // .footer__submenu
} // .footer
