.header {
    background-image: url('../img/header/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;

    @media all and (max-width: 592px) {
        min-height: 900px;
    }
}



