.header {
&__top {
    @include flex;
    flex-wrap: wrap;
    padding-top: 25px;
    background-color: transparent;
    justify-content: space-between;

& .sidenav-trigger i {
    line-height: 54px !important;
}
}

&__logo {
    font-size: 18px;
    color: $White;
    font-weight: bold;
    margin-right: 30px;

    @media all and (max-width: 993px) {
        font-size: 20px;
    }

& span {
    font-family: $ExtraLightItalic;
    font-weight: normal;
}
}
}

.nav {
    @include inline-flex;
    justify-content: space-between;
    width: 275px;
    font-size: 16px;

& a {
    color: $Gray;
    color: rgba($Gray, 0.8);
    font-weight: bold;
    transition: color 0.4s ease;

    &:hover {
        color: rgba($White, 0.6);
        background-color: transparent;
        text-decoration: underline;
    }
}
} // .header


.autorisation {
    @include flex;

&.active {
    @media all and (max-width: 993px) {
        display: none;
    }
}

&__login {
    font-size: 11px;
    background-color: transparent;
    border: 1px solid rgba($White, 0.2);
    padding: 0 23px;
}

&__ready {
    display: flex;
    font-size: 11px;
    background-color: rgba($White, 1);
    color: rgba($Black, 0.8);
    margin-left: 20px;
    padding: 0 26px;
}
} // .autorisation 


.sidenav {

& a:first-child {
    margin-top: 5%;
    font-size: 20px !important;
}

& .autorisation {
    margin-top: 5%;

& a {
    &:hover {
        background-color: transparent;
    }
}
}

&__login {
    font-size: 11px;
    background-color: rgba($Gray, 0.8);
    margin-left: 15px;
    border: 1px solid rgba($White, 0.2);
    padding: 0 23px;

    &:hover {
        background-color: rgba($Gray, 0.8);
    }

    &:active {
        background-color: rgba($Gray, 0.8);
    }

    &:focus {
        background-color: rgba($Gray, 0.8);
    }
}

&__ready {
    display: flex;
    font-size: 11px;
    background-color: rgba( $Gray, 0.8);
    margin-left: 15px;
    padding: 0 26px;

    &:hover {
        background-color: rgba($Gray, 0.8);
    }

    &:active {
        background-color: rgba($Gray, 0.8);
    }

    &:focus {
        background-color: rgba($Gray, 0.8);
    }
}
} // .sidenav


#full-login.dropdown-content {
    height: 184px !important;
    border: 1px solid rgba($White, 0.2);
    background-color: transparent;
    box-shadow: none;
    border-radius: 15px;
    -ms-overflow-style: none;

    &::-webkit-scrollbar { 
        width: 0;
    }

& input {
    box-sizing: border-box;
    padding: 0 10px;
    caret-color: $Gray;
    border-radius: 15px !important;
    color: $White;
    background-color: transparent;
}

& input[type=submit] {
    font-size: .7em;
    padding: 0 16px;
    background-color: rgba($White, 0.6);
}
}

#mobile-login.dropdown-content {
    height: 184px !important;
    min-width: 95px;
    border: 1px solid rgba($White, 0.2);
    background-color: rgba($Gray, 0.9);
    box-shadow: none;
    border-radius: 15px;
    -ms-overflow-style: none;

    &::-webkit-scrollbar { 
        width: 0;
    }

& form {
    &:focus {
        outline: none;
    }
}

& input {
    box-sizing: border-box;
    padding: 0 8px;
    caret-color: $Gray;
    border-radius: 15px !important;
    color: rgba($Black, 0.8);
    background-color: transparent;

    &::-webkit-input-placeholder {
        color: rgba($Black, 0.7);
    }
}

& input[type=submit] {
    font-size: .7em;
    padding: 0 16px;
    background-color: rgba($Green, 0.9);
    color: rgba($Black, 0.6);
}
}


