.features {
    position: relative;
    margin-top: 100px;
    border-bottom: 1px solid rgba($Black, 0.1);

&__title {
    line-height: 42px;
    font-size: 32px;
}

&__subtitle {
    color: rgba($Black, 0.8);
    line-height: 25px;
    margin-top: 20px;
    font-size: 18px;
}

&__img {
    object-fit: cover;
    max-width: 600px!important;
    max-height: 300px;
    transform: none !important;
}

&__video {
    position: absolute;
    right: 27%;
    top: 7%;
    min-width: 45.4%;
    min-height: 65.3%;
}
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 55px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-osx-font-smoothing: grayscale;
}


.movePrevCarousel {
    position: absolute;
    color: rgba($Black, 0.2);
    top: 36%;
    left: 15%;
}

.moveNextCarousel {
    position: absolute;
    color: rgba($Black, 0.2);
    top: 36%;
    right: 15%;
}