.features {
&__carousel {
    @media all and (max-width: 501px) {
        height: 270px;
    }
}

&__movePrevCarousel {
    position: absolute;
    color: rgba($Black, 0.2);
    top: 36%;
    left: 15%;

    @media all and (max-width: 1101px) {
        display: none;
    }    
}

&__moveNextCarousel {
    position: absolute;
    color: rgba($Black, 0.2);
    top: 36%;
    right: 15%;

    @media all and (max-width: 1101px) {
        display: none;
    }    
}
}
