<div class="border__bottom">
    <div class="container">
        <div class="row">
            <div class="submenu">
                <div class="submenu__nav">
                    <ul>
                        <li>About</li>
                    </ul>
                    <ul>
                        <li>Testimonials</li>
                    </ul>
                    <ul>
                        <li>Customers</li>
                    </ul>
                    <ul>
                        <li>Contacts</li>
                    </ul>
                </div>
                <div class="subscribe">
                    <div class="subscribe__title">Stay in Touch</div>
                    <input type="mail" class="subscribe__mail" placeholder="Subscribe our newsletters">
                    <input type="button" class="subscribe__button btn" value="Submit">
                </div>
            </div>
        </div>
    </div>
</div>