//! FONTS //
@font-face {
    font-family: "Raleway ExtraLightItalic";
	src: url('../../../assets/src/fonts/Raleway/Raleway-Italic.ttf') format('ttf'),
		url('../../../assets/src/fonts/Raleway/raleway-extralightitalic-webfont.woff2') format('woff2'),
		url('../../../assets/src/fonts/Raleway/raleway-extralightitalic-webfont.woff') format('woff');
}

@font-face {
    font-family: "Raleway Light";
	src: url('../../../assets/src/fonts/Raleway/Raleway-Light.ttf') format('ttf'),
		url('../../../assets/src/fonts/Raleway/raleway-light-webfont.woff2') format('woff2'),
		url('../../../assets/src/fonts/Raleway/raleway-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: "Raleway Medium";
	src: url('../../../assets/src/fonts/Raleway/Raleway-Italic.ttf') format('ttf'),
		url('../../../assets/src/fonts/Raleway/raleway-medium-webfont.woff2') format('woff2'),
		url('../../../assets/src/fonts/Raleway/raleway-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: "Raleway Regular";
	src: url('../../../assets/src/fonts/Raleway/Raleway-Regular.ttf') format('ttf'),
		url('../../../assets/src/fonts/Raleway/raleway-regular-webfont.woff2') format('woff2'),
		url('../../../assets/src/fonts/Raleway/raleway-regular-webfont.woff') format('woff');
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}
//! -FONTS- //