//! PREPARATION //
*, *:before, *:after {
	box-sizing: border-box;
	font-family: $Light;
}

.btn {
	border-radius: 30px;
	font-family: $Medium;
	transition: all 0.6s ease;
	box-shadow: none;

	&:active {
		@include transform(scale(0.92));
	}

	&:hover {
		color: $Black;
		background-color: $White;
	}

	&:focus {
		color: $Black;
		background-color: $White;
	}
}

.border-bottom {
	border-bottom: 1px solid rgba($Black, 0.1);
}

.card-action {
    border-top: none !important;
}

.container { 
	width: 79%;
}

input {
	&:focus {
		outline: none;
	}
}

.overhead {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 30px;
}

.h2-title {
    font-size: 42px;
    margin-bottom: 60px;
}

.no-shadows {
	box-shadow: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

time {
	font-size: inherit;
}
//! -PREPARATION- //