//! PREPARATION //
*, *:before, *:after {
	box-sizing: border-box;
	font-family: $Light;
}

.border-bottom {
	border-bottom: 1px solid rgba($Black, 0.1);
	margin-top: 40px;
}

.btn {
	border-radius: 30px;
	font-family: $Semibold;
	transition: all 0.45s ease;
    box-shadow: none;
    letter-spacing: 1px;

	&:active {
		@include transform(scale(0.92));
	}

	&:hover {
		color: $Black;
		background-color: $White;
	}

	&:focus {
		color: $Black;
		background-color: $White;
	}
}

.btn-green {
    background-color: $LightGreen;
    color: rgba($Black, 0.7);
    letter-spacing: 1px;
    font-family: $Semibold;
    font-size: 0.7em;

    &:hover {
        color: rgba($Black, 0.7);
        background-color: $LightGreen;
    }

    &:active {
        color: rgba($Black, 0.7);
        background-color: $LightGreen;
    }

    &:focus {
        color: rgba($Black, 0.7);
        background-color: $LightGreen;
    }
}

.card-action {
    border-top: none !important;
}

.container { 
	width: 79%;
}

input {
	&:focus {
		outline: none;
	}
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 55px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-osx-font-smoothing: grayscale;
}

.overhead {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 30px;
}

.h2-title {
    font-size: 2.6em;
    margin-bottom: 60px;
}

.mb-30 {
    margin-bottom: 30px;
}

.no-shadows {
	box-shadow: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

time {
	font-size: inherit;
}
//! -PREPARATION- //

//! MATERIALIZE CAROUSEL INDICATORS //
.indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: -22px !important;

.indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 24px 4px;
    background-color: transparent !important;
    border: 1px solid rgba($Gray, 0.7);
    transition: background-color .3s;
    border-radius: 50%;

    &.active {
        background-color: $Black !important;
    }
    }
}
//! -MATERIALIZE CAROUSEL- //