.components {
    margin-top: 100px;

&__overhead {
    font-family: $Medium;
    font-weight: bold;
}

&__card {
    height: 540px;
    max-width: 400px;
    margin: auto;
    border-radius: 11px;
    overflow: hidden;
    margin-bottom: 60px;

    @media all and (max-width: 1200px) {
        margin-bottom: 20px;
    }
}

&__img {
    margin-top: 60px;
}

&__text {
    font-size: 16px;
    line-height: 23px;
    color: rgba($Black, 0.6);
    margin: 20px 23px auto 23px !important;
}

&__link {
    font-family: $Medium;
    font-weight: bold;
    font-size: 12px;
    color: rgba($Black, 0.8)  !important;
    text-decoration: underline;
    margin-right: 0 !important; 

    &:hover {
        color: $LightGreen !important;
    }
}
} // .components

.card-content span {
    font-family: $Regular;
    font-size: 22px;
}