.submenu {
    height: 53px;
    @include flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    
    @media all and (max-width: 1043px) {
        height: 100px;
    }

& ul {
    @include inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: $Black;

    @media all and (max-width: 931px) {
        margin: auto;
    }
}

& li {
    font-family: $Regular;
    margin-right: 30px;
    cursor: pointer;
    font-size: 0.94em; //14px
    color: rgba($Black, 0.7);
    font-weight: bold;
    transition: color 0.4s ease;

    @media all and (max-width: 501px) {
        margin-right: 8px;
    }

    &:hover {
        color: rgba($Black, 1);
    }
}
} // .submenu


.subscribe {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-bottom: 10px;

    @media all and (max-width: 931px) {
        margin: auto;
    }

&__text {
    position: absolute;
    right: 359px;
    width: 100px;
    font-family: $Bold;
    font-size: 0.94em; //14px
    color: $Black;

    @media all and (max-width: 1022px) {
        display: none;
    }
}

&__mail {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 370px;
    height: 50px;
    font-family: $Medium;
    border: 1px solid rgba($Black, 0.2);
    border-radius: 35px;
    padding-left: 25px;

    @media all and (max-width: 931px) {
        position: static;
        width: 320px;
        margin-top: 10px;
    }

    &::placeholder {
        font-size: 14px;
        color: rgba($Black, 0.4);
        overflow: visible;
    }
}

&__button {
    display: inline-block;
    position: absolute;
    top: -12px;
    right: -12px;
    color: rgba($White, 0.85);
    padding: 0px 25px;
    font-size: 11px;
    background-color: $Black;

    @media all and (max-width: 931px) {
        top: 17px;
        right: 5px;
    }
}
}