.submenu {
    @include flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;

&__nav {
    @include inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 355px;

& ul {
    color: $Black;
}

& li {
    font-family: $Regular;
    cursor: pointer;
    color: rgba($Black, 0.7);
    font-weight: bold;
    transition: all 0.4s ease;

&:hover {
    color: rgba($Black, 1);
}
} // <ul>
} // .submenu__nav
}


.subscribe {
    @include flex;
    position: relative;

&__title {
    font-size: 14px;
    font-family: $Medium;
    color: rgba($Black, 0.8);
    font-weight: bold;
    margin-right: 20px;
}

&__mail {
    position: relative;
    bottom: 35%;
    font-family: $Medium;
    border: 1px solid rgba($Black, 0.2);
    border-radius: 35px;
    padding: 15px 190px 15px 25px;
    margin-bottom: -10px;

&::placeholder {
    font-size: 14px;
    color: rgba($Black, 0.6);
    overflow: visible;
}
}

&__button {
    color: rgba($White, 0.85);
    position: absolute;
    bottom: 28%;
    right: 1%;
    padding: 0px 25px;
    font-size: 11px;
    background-color: $Black;
}
}